<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is about page</h1>
    <hr>
    <!-- ussing thymeleaf fragment -->
     <div class="host-tag" th:replace="${isLogin}?~{base::parent(~{::section})}:~{base::test(~{::#not_logged_in})}">

        <section>
            <h1>user is logged in</h1>
            <h2>Dynamic content</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem recusandae in odit mollitia neque aliquid corporis tenetur minus architecto animi?</p>
            <button>Click on Dynamic content</button>
        </section>
        <section id="not_logged_in">
            <h1>user is not logged in</h1>
        </section>
     </div>
</body>
</html>